<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BORODA</title>
    <link rel="stylesheet" type="text/css" href="dist/index.min.css">
    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="dist/index.min.js"></script>
</head>
<body>
    <div class="header">
        <h1 class="header__title">БОРОДА | BORODA</h1>
    </div>
    <div class="body">
        <div class="body__shave col col_size_small">shave</div>
        <div class="body__action col col_size_big">
            <div class="boroda">boroda</div>
        </div>
        <div class="body__beard col col_size_small">beard</div>
    </div>
</body>
</html>