<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BORODA</title>
    <link rel="stylesheet" type="text/css" href="dist/index.min.css">
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/dist/index.min.js"></script>
</head>
<body>
    <div class="header">
        <h1 class="header__title">БОРОДА | BORODA</h1>
    </div>
    <div class="body">
        <div class="body__vote col col_size_small col_align_center">
            <img src="dist/images/razor.png" alt="shave" class="icon icon_size_xl">
            <button class="button button_size_xl">Shave</button>
        </div>
        <div class="body__action col col_size_big col_align_center">
            <div class="boroda">boroda</div>
        </div>
        <div class="body__vote col col_size_small col_align_center">
            <img src="dist/images/razor.png" alt="shave" class="icon icon_size_xl">
            <button class="button button_size_xl">Grow</button>
        </div>
    </div>
</body>
</html>