@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,800';

$font-size = 14px
$color-main = #fff
$color-secondary = #000
$color-green = #A1C057

body {
    font-family: 'Open Sans', sans-serif;
    font-size: $font-size;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {    
    &__title {
        text-align: center;
        font-weight: 800;
    }
}

.body {
    width: 80%;
    margin: 0 auto;
    white-space: nowrap;    
    
    &__vote {
        box-sizing: border-box;
        padding: 5% 0;
    }
}

.text {
    &_color {
        &_green {
            color: $color-green;
        }
    }
}

.button {
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
    background: transparent;
    border: 3px solid $color-secondary;
    color: $color-secondary;
    cursor: pointer;
    transition: background 0.15s, color 0.1s;
    
    &:hover {
        background: $color-secondary;
        color: $color-main;
    }
    
    &_size {
        &_xl {
            width: 150px;
            font-size: 2em;
        }
    }
}

.col {
    display: inline-block;
    white-space: normal;
    height: 100%;

    &_size {
        &_small {
            width: 20%;
        }
        &_medium {
            width: 40%;
        }
        &_big {
            width: 60%;
        }
    }
    
    &_align {
        &_center {
            text-align: center;
        }
    }
    
    &_valign {
        &_top {
            vertical-align: top;
        }
    }
}

.icon {
    padding: 10px 0;
    &_size {
        &_xl {
            width: 80%;
        }
    }
}